body{
  margin: 0;
  background-color: #e6e6e6;
  font-size: 17px;
}
.page{
  width: 100%;
  max-width: 1050px;
  height: 100%;
  max-height: 750px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin:-375px 0 0 -525px;

}
.header{
  width:100%;
  max-width: 1050px;
  text-align: justify;
}

h2{
  margin: 0;
  font-size: 20px;
  text-align: center;
}

p{
  margin: 10px 0 0 0;
}

.container{
  width:100%;
  max-width: 1050px;
  padding-top: 10px;
  display: flex;
}

.paragraph{
  margin: 0;
  text-align: center;
}

.entered_data{
  width: 440px;
  height: 440px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  resize: none;
  text-transform: uppercase;
}

.block_button{
  display:flex;
  justify-content:center;
  align-items:center;
}

button{
  margin: 4px;
}

.data_obtained{
  background-color: white;
  width: 440px;
  height: 440px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}
